<%= form_for @user, :'data-ajax' => "false", :'data-transition' => "flip", :'data-direction' => "reverse" do |f| %>
    <% if @user.errors.any? %>
    <div id="error_explanation">
        <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

        <ul>
            <% @user.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
            <% end %>
        </ul>
    </div>
    <% end %>
    <ul data-role="listview" data-inset="true" data-theme="c">
        <li data-role="fieldcontain" class="row ui-body-b">
            <%= f.label :office_id, t(:'users.edit.office') %>
            <%= f.select :office_id, options_from_collection_for_select(@offices, :id, :i18n_title, f.object.office_id) %>
        </li>
        
        <li data-role="fieldcontain" class="row">
            <%= f.label :first_name, t(:'users.edit.first_name') %>
            <%= f.text_field :first_name %>
        </li>
        
        <li data-role="fieldcontain" class="row">
            <%= f.label :last_name, t(:'users.edit.last_name') %>
            <%= f.text_field :last_name %>
        </li>

        <li data-role="fieldcontain" class="row">
            <%= f.label :locale, t(:'users.edit.locale') %>
            <%= f.select :locale, options_for_select(@locales, f.object.locale), {}, :'data-theme' => "b" %>
        </li>

        <li data-role="fieldcontain" class="actions row ui-body-b">
            <%= f.submit t(:'shared.forms.save') %>
        </li>
    </li>
<% end %>