<%= form_for @user, :'data-ajax' => "false", :'data-transition' => "flip", :'data-direction' => "reverse" do |f| %>
    <% if @user.errors.any? %>
    <div id="error_explanation">
        <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

        <ul>
            <% @user.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
            <% end %>
        </ul>
    </div>
    <% end %>

    <div class="row">
        <%= f.label :office %>
        <%= f.select :office_id, options_from_collection_for_select(@offices, :id, :title, f.object.office_id) %>
    </div>

    <div class="row">
        <%= f.label :first_name %>
        <%= f.text_field :first_name %>
    </div>

    <div class="row">
        <%= f.label :last_name %>
        <%= f.text_field :last_name %>
    </div>

    <div class="row">
        <%= f.label :personal_goal %>
        <%= f.text_area :personal_goal %>
    </div>
    <div class="actions">
        <%= f.submit %>
    </div>
<% end %>