<div class="level">
	<div class="info-header shadow <%= level_theme(@level) %>">
		<%= link_to t(:'users.show.information.whats_this'), levels_info_path(current_user), :'data-role' => "button", :'data-rel' => "dialog", :'data-icon' => "info", :'data-iconpos' => "notext", :class => "ui-btn-left float-left pos-abs" %>
		<h1>Level <%= @level.level %></h1>
	</div>
	<div class="content ui-body-d shadow">
		<div class="ui-grid-a">
		    <div class="ui-block-a points"><%= raw t(:'levels.total_points', :total_points => @total_points) %></div>
		    <% if @level.level < 10 %>
		    	<div class="ui-block-b next-level"><%= raw t(:'levels.next_level', :next_level_points => @level.next_level) %></div>
		    <% end %>
		</div>
	    <div class="graph parent ui-body-a">
	        <div class="graph <%= level_theme(@level) %>" style="width:<%= @percentage %>%"></div>
	    </div>
	</div>
</div>
