<div data-role="header" data-position="fixed">
    <h1 data-title="Up to Speed"><%= @user.name %></h1>
</div>
<div data-role="content" data-theme="b">
    <div class="center-content">
        <p id="total-score"><%= raw t(:'stats.total_score', score: @user.total_score) %>
        <p><%= t(:'stats.total_duration', duration: @duration.round) %></p>
    </div>
    <% if @user.future_events.present? %>
        <ul data-role="listview" data-inset="true" data-theme="d">
            <li data-role="list-divider"><%= t(:'events.future_events') %> <span class="ui-li-count"><%= @user.future_events.count %></span></li>
            <% @user.future_events.each do |event| %>
                <li>
                    <%= link_to event_path(event, :url => request.url), :'data-rel' => "dialog", :'data-transition' => "pop" do %>
                        <div class="ui-grid-a">
                            <div class="ui-block-a">
                                <%= event.title %>
                            </div>
                            <div class="ui-block-b right-content">
                                <%= l event.start_time, :format => :shorter %>
                            </div>
                        </div>
                    <% end %>
                </li>
            <% end %>
        </ul>
    <% end %>
    <% if @user.past_events.present? %>
        <ul data-role="listview" data-inset="true" data-theme="d">
            <li data-role="list-divider"><%= t(:'events.past_events') %> <span class="ui-li-count"><%= @user.past_events.count %></span></li>
            <% @user.past_events.each do |event| %>
                <li>
                    <%= link_to event_path(event, :url => request.url), :'data-rel' => "dialog", :'data-transition' => "pop" do %>
                        <div class="ui-grid-a">
                            <div class="ui-block-a">
                                <%= event.title %>
                            </div>
                            <div class="ui-block-b right-content">
                                <%= l event.start_time, :format => :shorter %>
                            </div>
                        </div>
                    <% end %>
                </li>
            <% end %>
        </ul>
    <% end %>
</div>
<%= render :partial => "/main_navigation" %>