<div data-role="header" data-position="fixed">
    <h1 data-title="Up to Speed"><%= @user.name %></h1>
    <%= link_to t(:'users.show.settings'), edit_user_path(@user), :'data-role' => "button", :'data-transition' => "flip", :'data-icon' => "gear", :'data-iconpos' => "notext", :class => "ui-btn-right" %>
</div>
<div data-role="content" class="ui-body-b">
    <%= render :partial => "level" %>

    <% if @user.events.future.present? %>
        <ul data-role="listview" data-inset="true" data-theme="d">
            <li data-role="list-divider"><%= t(:'events.future_events') %> <span class="ui-li-count"><%= @user.events.future.count %></span></li>
            <% @user.events.future.each do |event| %>
                <li>
                    <%= link_to event_path(event, :url => request.url), :'data-transition' => "pop" do %>
                        <div class="ui-grid-a">
                            <div class="ui-block-a">
                                <%= event.title %>
                            </div>
                            <div class="ui-block-b right-content">
                                <%= l event.start_time, :format => :shorter %>
                            </div>
                        </div>
                    <% end %>
                </li>
            <% end %>
        </ul>
    <% end %>

    <ul data-role="listview" data-inset="true" data-theme="d" data-content-theme="c">
        <li data-role="list-divider"><%= t(:'events.all_types_this_month') %> <span class="ui-li-count"><%= @user.events_learnings_and_workouts_this_month.count %></span></li>
        <% @user.events_learnings_and_workouts_this_month.each do |event| %>
            <li>
                <div class="ui-grid-a">
                    <div class="ui-block-a">
                        <%= event.title %>
                    </div>
                    <div class="ui-block-b right-content">
                        <%= l event.start_time, :format => :shorter %>
                    </div>
                </div>
            </li>
        <% end %>
    </ul>
    <ul data-role="listview" data-inset="true" data-theme="d" data-content-theme="c">
        <li data-role="list-divider"><%= t(:'events.all_types_history') %></li>
        <% @user.all_events_learnings_and_workouts.each do |type, count| %>
            <li>
                <div class="ui-grid-a">
                    <div class="ui-block-a">
                        <%= type %>
                    </div>
                    <div class="ui-block-b right-content">
                        <%= count %>
                    </div>
                </div>
            </li>
        <% end %>
    </ul>
</div>
<%= render :partial => "/main_navigation" %>