<%= render :partial => "/main_navigation" %>
<div data-role="header">
    <h1>Träningar</h1>
</div>

<div class="content-primary">
    <div id="events">
        <ul data-role="listview" data-divider-theme="b" data-split-icon="arrow-r">
            <li data-role="list-divider" role="heading">Måndag</li>
            <% @events.select{|e| which_weekday?(e, "monday")}.each do |event| %>
                <%= render :partial => "event_list", :locals => {:event => event} %>
            <% end %>
            <li data-role="list-divider" role="heading" class="tuesday">Tisdag</li>
            <% @events.select{|e| which_weekday?(e, "tuesday")}.each do |event| %>
                <%= render :partial => "event_list", :locals => {:event => event} %>
            <% end %>
        
            <li data-role="list-divider" role="heading" class="wednesday">Onsdag</li>
            <% @events.select{|e| which_weekday?(e, "wednesday")}.each do |event| %>
                <%= render :partial => "event_list", :locals => {:event => event} %>
            <% end %>
        
            <li data-role="list-divider" role="heading" class="thursday">Torsdag</li>
            <% @events.select{|e| which_weekday?(e, "thursday")}.each do |event| %>
                <%= render :partial => "event_list", :locals => {:event => event} %>
            <% end %>
        
            <li data-role="list-divider" role="heading" class="friday">Fredag</li>
            <% @events.select{|e| which_weekday?(e, "friday")}.each do |event| %>
                <%= render :partial => "event_list", :locals => {:event => event} %>
            <% end %>
        </ul>
    </div>
</div>

<div data-role="footer">
    <div class="footer-navigation">
        <div class="ui-grid-b">
            <div class="ui-block-a">
                <%= link_to "Föregående vecka", events_url(prev_link_params), :'data-role' => "button", :'data-direction' => "reverse", :'data-icon' => "arrow-l", :class => "float-left" %>
            </div>
            <div class="ui-block-b center-content">
                <%= link_to "Aktuell vecka", events_url, :'data-role' => "button", :'data-transition' => "slideup" %>
            </div>
            <div class="ui-block-c">
                <%= link_to "Nästa vecka", events_url(next_link_params), :'data-role' => "button", :'data-icon' => "arrow-r", :'data-iconpos' => "right", :class => "float-right" %>
            </div>
        </div>
    </div>
</div>