<div data-role="header" data-position="fixed">
    <% if exists_before?(now_from_params) %>
        <%= link_to t(:'shared.previous'), events_path(past_events_params), :'data-role' => "button", :'data-direction' => "reverse", :'data-icon' => "arrow-l", :'data-iconpos' => "notext" %>
    <% end %>
    <h1 data-title="<%= t(:title) %>"><%= t(:'events.header') %></h1>
    <% if exists_after?(now_from_params) %>
        <%= link_to t(:'shared.next'), events_path(future_events_params), :'data-role' => "button", :'data-icon' => "arrow-r", :'data-iconpos' => "notext", :class => "ui-btn-right" %>
    <% end %>
</div>
<div class="ui-grid-a">
    <div class="ui-block-a">
        <a href="#" data-role="button">Träning 60 min</a>
    </div>
    <div class="ui-block-b">
        <%= form_for @read, :'data-transition' => "none" do |f| %>
            <%= f.hidden_field :user_id %>
            <%= f.submit "Läsa 60 min", :'data-theme' => "g" %>
        <% end %>
    </div>
</div>
<div data-role="content" data-theme="c">
    <div id="events">
        <ul data-role="listview" data-divider-theme="b" data-split-theme="c" data-split-icon="arrow-r">
        <% @events_grouped.each do |date, events| %>
            <li data-role="list-divider" role="heading" class="<%= date.strftime("%A").downcase %><%= date.end_of_day < Time.now ? " old" : "" %><%= today?(date) %>"><%= l date, :format => :list %></li>
            <% events.each do |event| %>
                <%= render :partial => "event", :locals => { :event => event } %>
            <% end %>
        <% end %>
        </ul>
    </div>
</div>
<%= render :partial => "/notification", :locals => { :flash => flash } %>
<%= render :partial => "/main_navigation" %>