<div data-role="header" data-position="fixed">
    <% if Event.exists_before?(monday_param) %>
        <%= link_to "Förra", events_url(prev_link_params), :'data-role' => "button", :'data-direction' => "reverse", :'data-icon' => "arrow-l" %>
    <% end %>
    <h1><%= link_to "Träningar", events_url, :'data-transition' => "slideup", :class => "header-link" %></h1>
    <% if Event.exists_after?(monday_param) %>
        <%= link_to "Nästa", events_url(next_link_params), :'data-role' => "button", :'data-icon' => "arrow-r", :'data-iconpos' => "right", :class => "ui-btn-right" %>
    <% end %>
</div>

<div data-role="content">
    <div id="events">
        <ul data-role="listview" data-divider-theme="b" data-split-theme="c" data-split-icon="arrow-r">
            <li data-role="list-divider" role="heading" class="monday<%= old?(monday_param, 0) ? " old" : "" %>">Måndag <%= Time.parse(monday_param).strftime("%d %b") %></li>
            <% @events.select{|e| which_weekday?(e, "monday")}.each do |event| %>
                <%= render :partial => "event_list", :locals => {:event => event} %>
            <% end %>
            <li data-role="list-divider" role="heading" class="tuesday<%= old?(monday_param, 1) ? " old" : "" %>">Tisdag <%= (Time.parse(monday_param) + 1.days).strftime("%d %b") %></li>
            <% @events.select{|e| which_weekday?(e, "tuesday")}.each do |event| %>
                <%= render :partial => "event_list", :locals => {:event => event} %>
            <% end %>
        
            <li data-role="list-divider" role="heading" class="wednesday<%= old?(monday_param, 2) ? " old" : "" %>">Onsdag <%= (Time.parse(monday_param) + 2.days).strftime("%d %b") %></li>
            <% @events.select{|e| which_weekday?(e, "wednesday")}.each do |event| %>
                <%= render :partial => "event_list", :locals => {:event => event} %>
            <% end %>
        
            <li data-role="list-divider" role="heading" class="thursday<%= old?(monday_param, 3) ? " old" : "" %>">Torsdag <%= (Time.parse(monday_param) + 3.days).strftime("%d %b") %></li>
            <% @events.select{|e| which_weekday?(e, "thursday")}.each do |event| %>
                <%= render :partial => "event_list", :locals => {:event => event} %>
            <% end %>
        
            <li data-role="list-divider" role="heading" class="friday<%= old?(monday_param, 4) ? " old" : "" %>">Fredag <%= (Time.parse(monday_param) + 4.days).strftime("%d %b") %></li>
            <% @events.select{|e| which_weekday?(e, "friday")}.each do |event| %>
                <%= render :partial => "event_list", :locals => {:event => event} %>
            <% end %>
        </ul>
    </div>
</div>
<%= render :partial => "/main_navigation" %>