<%= render :partial => "/main_navigation" %>
<div data-role="header">
    <%= link_to "Förra veckan", events_url(prev_link_params), :'data-role' => "button", :'data-direction' => "reverse", :'data-icon' => "arrow-l" %>
    <h1>Träningar</h1>
    <%= link_to "Nästa vecka", events_url(next_link_params), :'data-role' => "button", :'data-icon' => "arrow-r", :'data-iconpos' => "right" %>
</div>

<div class="content-primary">
    <div id="events">
        <ul data-role="listview" data-divider-theme="b" data-split-icon="arrow-r">
            <li data-role="list-divider" role="heading">Måndag</li>
            <% @events.select{|e| which_weekday?(e, "monday")}.each do |event| %>
                <%= render :partial => "event_list", :locals => {:event => event} %>
            <% end %>
            <li data-role="list-divider" role="heading" class="tuesday">Tisdag</li>
            <% @events.select{|e| which_weekday?(e, "tuesday")}.each do |event| %>
                <%= render :partial => "event_list", :locals => {:event => event} %>
            <% end %>
        
            <li data-role="list-divider" role="heading" class="wednesday">Onsdag</li>
            <% @events.select{|e| which_weekday?(e, "wednesday")}.each do |event| %>
                <%= render :partial => "event_list", :locals => {:event => event} %>
            <% end %>
        
            <li data-role="list-divider" role="heading" class="thursday">Torsdag</li>
            <% @events.select{|e| which_weekday?(e, "thursday")}.each do |event| %>
                <%= render :partial => "event_list", :locals => {:event => event} %>
            <% end %>
        
            <li data-role="list-divider" role="heading" class="friday">Fredag</li>
            <% @events.select{|e| which_weekday?(e, "friday")}.each do |event| %>
                <%= render :partial => "event_list", :locals => {:event => event} %>
            <% end %>
        </ul>
    </div>
</div>

<div data-role="footer">
    <div class="footer-navigation">
        <div data-role="controlgroup"  data-type="horizontal" class="center-content">
            <%= link_to "Förra veckan", events_url(prev_link_params), :'data-role' => "button", :'data-direction' => "reverse", :'data-icon' => "arrow-l" %>
            <%= link_to "Denna vecka", events_url, :'data-role' => "button", :'data-transition' => "slideup" %>
            <%= link_to "Nästa vecka", events_url(next_link_params), :'data-role' => "button", :'data-icon' => "arrow-r", :'data-iconpos' => "right" %>
        </div>
    </div>
</div>