<h1>Listing events</h1>

<table>
    <tr>
        <th>Event</th>
        <th>Where</th>
        <th>Attending</th>
        <th>Start_time</th>
        <th>End_time</th>
        <th></th>
    </tr>

<% @events_from_google.each do |event| %>
    <tr>
        <td><%= event.title %></td>
        <td><%= event.where %></td>
        <td>
            <ul>
            <% event.attendees.each do |attendee| %>
                <li><%= attendee[:name] %></li>
            <% end %>
            </ul>
        </td>
        <td><%= event.start_time %></td>
        <td><%= event.end_time %></td>
        <td><%= link_to 'Show', "#" %></td>
    </tr>
<% end %>
</table>

<%= link_to "Next week", events_url(next_link) %>