<div data-role="header" data-position="fixed">
    <% if Event.exists_before?(monday_param) %>
        <%= link_to "Förra", events_url(prev_link_params), :'data-role' => "button", :'data-direction' => "reverse", :'data-icon' => "arrow-l" %>
    <% end %>
    <h1>Träningar</h1>
    <% if Event.exists_after?(monday_param) %>
        <%= link_to "Nästa", events_url(next_link_params), :'data-role' => "button", :'data-icon' => "arrow-r", :'data-iconpos' => "right", :class => "ui-btn-right" %>
    <% end %>
</div>

<div data-role="content" data-theme="b">
    <div id="events">
        <ul data-role="listview" data-divider-theme="b" data-split-theme="c" data-split-icon="arrow-r">
        <% @events_grouped.each do |date, events| %>
            <li data-role="list-divider" role="heading" class="<%= date.strftime("%A").downcase %>"><%= l date, :format => :list %></li>
            <% events.each do |event| %>
                <%= render :partial => "event", :locals => { :event => event } %>
            <% end %>
        <% end %>
        </ul>
    </div>
</div>
<%= render :partial => "/main_navigation" %>