<div data-role="header" data-position="fixed">
    <h1>Träningar</h1>
</div>
<div data-role="content" data-theme="b">
    <div id="events">
        <%= link_to "Future", events_path(future_events_params), :'data-role' => "button", :id => "future" %>
        <ul data-role="listview" data-divider-theme="b" data-split-theme="c" data-split-icon="arrow-r">
        <% @events_grouped.each do |date, events| %>
            <li data-role="list-divider" role="heading" class="<%= date.strftime("%A").downcase %><%= old?(date) ? " old" : "" %>"><%= l date, :format => :list %></li>
            <% events.each do |event| %>
                <%= render :partial => "event", :locals => { :event => event } %>
            <% end %>
        <% end %>
        </ul>
        <%= link_to "Past", events_path(past_events_params), :'data-role' => "button", :id => "past" %>
    </div>
</div>
<%= render :partial => "/main_navigation" %>