<div data-role="header">
    <h1>Träningar</h1>
</div>

<div class="content-primary">
    <div id="events">
        <ul data-role="listview" data-divider-theme="b">
            <li data-role="list-divider" role="heading">Måndag</li>
            <% @events.select{|e| which_weekday?(e, "monday")}.each do |event| %>
                <%= render :partial => "event_list", :locals => {:event => event} %>
            <% end %>
            <li data-role="list-divider" role="heading" class="tuesday">Tisdag</li>
            <% @events.select{|e| which_weekday?(e, "tuesday")}.each do |event| %>
                <%= render :partial => "event_list", :locals => {:event => event} %>
            <% end %>
        
            <li data-role="list-divider" role="heading" class="wednesday">Onsdag</li>
            <% @events.select{|e| which_weekday?(e, "wednesday")}.each do |event| %>
                <%= render :partial => "event_list", :locals => {:event => event} %>
            <% end %>
        
            <li data-role="list-divider" role="heading" class="thursday">Torsdag</li>
            <% @events.select{|e| which_weekday?(e, "thursday")}.each do |event| %>
                <%= render :partial => "event_list", :locals => {:event => event} %>
            <% end %>
        
            <li data-role="list-divider" role="heading" class="friday">Fredag</li>
            <% @events.select{|e| which_weekday?(e, "friday")}.each do |event| %>
                <%= render :partial => "event_list", :locals => {:event => event} %>
            <% end %>
        </ul>
    </div>
</div>

<div data-role="footer">
    <p>Inloggad som: <%= current_user.name %></p>
    <%= link_to "Föregående vecka", events_url(prev_link_params), :'data-direction' => "reverse" %>
    <%= link_to "Nästa vecka", events_url(next_link_params) %>
</div>