<div data-role="header" data-position="inline">
    <h1><%= @event.title %></h1>
</div>
<div id="event" data-role="content" data-theme="b">
    <p class="time"><strong><%= @event.start_time.to_s(:time) %> - <%= @event.end_time.to_s(:time) %></strong></p>
    <div class="content">
        <%= simple_format(@event.content) %>
    </div>
    <% if geo?(@event) %>
        <div id="map" data-role="map" data-lat="<%= @event.lat %>" data-lng="<%= @event.lng %>" class="map">
        </div>
    <% end %>
    <p class="float-right"><%= @event.where %></p>
    <% if @event.users.present? %>
        <ul data-role="listview" data-inset="true" data-theme="d">
            <li data-role="list-divider" role="heading" data-theme="a">Anmälda</li>
            <% @event.users.each do |user| %>
                <li<%= user == current_user ? ' class="you"' : '' %>>
                    <%= user.name %>
                    <%= ring(:user => user) %>
                </li>
            <% end %>
        </ul>
    <% else %>
        <h3>Inga anmälda ännu</h3>
    <% end %>
    <%= form_tag event_attend_path(@event.id), :'data-ajax' => "false" do %>
        <%= hidden_field_tag :user_id, current_user.id.to_s %>
        <%= hidden_field_tag :attending, !@event.users.include?(current_user) %>
        <%= hidden_field_tag :url, params[:url] %>
        <% if @event.users.include?(current_user) %>
            <% if @event.old? %>
                <p><strong>Du har fått poäng för denna träning.</strong></p>
            <% else %>
                <p><strong>Du är anmäld.</strong></p>
            <% end %>
        <% else %>
            <p><strong>Kommer du?</strong></p>
        <% end %>
        <% if @event.users.include?(current_user) %>
            <%= submit_tag "Nej, jag ångrar mig!", :'data-theme' => "a", :'data-icon' => "delete" %>
        <% else %>
            <%= submit_tag "Ja, jag kommer!", :'data-theme' => "b", :'data-icon' => "check" %>
        <% end %>
        <%= link_to "Avbryt", params[:url], :'data-role' => "button", :'data-icon' => "back", :'data-theme' => "c", :'data-transition' => "pop", :'data-direction' => "reverse" %>
    <% end %>
</div>