<div data-role="header" data-theme="a">
    <h1><%= @event.title %></h1>
</div>
<div class="single-event" data-role="content" data-theme="b">
    <p class="time"><strong><%= @event.start_time.to_s(:time) %> - <%= @event.end_time.to_s(:time) %></strong></p>
    <h3><%= @event.where %></h3>
    
    <% if @event.users.present? %>
        <h3>Anmälda</h3>
        <ul data-role="listview" data-inset="true" class="ui-listview">
            <% @event.users.each do |user| %>
                <li><%= user.name %></li>
            <% end %>
        </ul>
    <% else %>
        <h3>Inga anmälda ännu</h3>
    <% end %>
    
    <% if @event.users.include?(current_user) %>
        <h4>Du är anmäld. Vill du ta tillbaka din anmälan?</h4>
    <% else %>
        <h4>Kommer du?</h4>
    <% end %>
    <%= form_tag event_attend_url(@event.id) do %>
        <%= hidden_field_tag :user_id, current_user.id.to_s %>
        <%= hidden_field_tag :attending, !@event.users.include?(current_user) %>
        <% if @event.users.include?(current_user) %>
            <%= submit_tag "Ja, jag ångrar mig!", :'data-theme' => "c" %>
        <% else %>
            <%= submit_tag "Ja, jag kommer!", :'data-theme' => "b" %>
        <% end %>
    </fieldset>
    <% end %>
</div>