<div data-role="header" data-position="inline" class="ui-corner-top ui-overlay-shadow ui-header">
    <%= link_to "Avbryt", back_button_url, :'data-role' => "button", :'data-icon' => "delete", :'data-transition' => "pop", :'data-direction' => "reverse", :'data-iconpos' => "notext", :class => "remove-text left-close-button" %>
    <h1 data-title="Up to Speed"><%= @event.title %></h1>
    <% if geo?(@event) %>
        <%= link_to "Karta", event_map_path(@event), :'data-role' => "button", :'data-rel' => "dialog", :'data-transition' => "flip", :'data-icon' => "map", :class => "ui-btn-right" %>
    <% end %>
</div>
<div id="event" data-role="content" data-theme="b" class="ui-corner-bottom ui-overlay-shadow">
    <div class="clearfix">
        <h3 class="float-left"><%= places(@event.where) %></h3>
        <p class="time float-right"><strong><%= @event.start_time.to_s(:time) %> - <%= @event.end_time.to_s(:time) %></strong></p>
    </div>
    <% if @event.content.present? %>
        <div class="info-header ui-body-e">
            <h2>Information</h2>
        </div>
        <div class="content ui-body-d">
            <%= simple_format(@event.content) %>
        </div>
    <% end %>
    <% if @event.users.present? %>
        <ul data-role="listview" data-inset="true" data-theme="d">
            <li data-role="list-divider" role="heading" data-theme="a">Anmälda</li>
            <% @event.users.each do |user| %>
                <li<%= user == current_user ? ' class="you"' : '' %>>
                    <%= user.name %>
                    <%= ring(:user => user) %>
                </li>
            <% end %>
        </ul>
    <% else %>
        <h3>Inga anmälda ännu</h3>
    <% end %>
    <%= form_tag event_attend_path(@event.id), :'data-ajax' => "false" do %>
        <%= hidden_field_tag :user_id, current_user.id.to_s %>
        <%= hidden_field_tag :attending, !@event.users.include?(current_user) %>
        <% if @event.users.include?(current_user) %>
            <% if @event.old? %>
                <p><strong>Du har fått poäng för denna träning.</strong></p>
            <% else %>
                <p><strong>Du är anmäld.</strong></p>
            <% end %>
        <% else %>
            <p><strong>Kommer du?</strong></p>
        <% end %>
        <% if @event.users.include?(current_user) %>
            <%= submit_tag "Nej, jag ångrar mig!", :'data-theme' => "a", :'data-icon' => "delete" %>
        <% else %>
            <%= submit_tag "Ja, jag kommer!", :'data-theme' => "b", :'data-icon' => "check" %>
        <% end %>
        <%= link_to "Avbryt", back_button_url, :'data-role' => "button", :'data-icon' => "back", :'data-theme' => "c", :'data-transition' => "pop", :'data-direction' => "reverse" %>
    <% end %>
</div>