<div data-role="header" data-theme="a">
    <h1><%= @event.title %></h1>
</div>
<div class="single-event" data-role="content" data-theme="b">
    <p class="time"><strong><%= @event.start_time.to_s(:time) %> - <%= @event.end_time.to_s(:time) %></strong></p>
    <h3><%= @event.where %></h3>
    
    <% if @event.users.present? %>
        <h3>Anmälda</h3>
        <ul data-role="listview" data-inset="true" class="ui-listview">
            <% @event.users.each do |user| %>
                <li><%= user.name %></li>
            <% end %>
        </ul>
    <% else %>
        <h3>Inga anmälda ännu</h3>
    <% end %>

    <%= form_tag event_attend_url(@event.id) do %>
    
        <div data-role="fieldcontain" class="single-row">
            <fieldset data-role="controlgroup">
                <legend>Kommer du?</legend>
                <%= hidden_field_tag :user_id, current_user.id.to_s %>
                <%= label_tag :attending, "Ja, jag kommer!" %>
                <%= check_box_tag :attending, "attend", @event.users.include?(current_user) %>
            </fieldset>
        </div>
        <%= submit_tag "Spara" %>
    </fieldset>
    <% end %>
</div>