<div data-role="header" data-theme="a">
    <h1><%= @event.title %></h1>
</div>
<div class="single-event" data-role="content" data-theme="b">
    <p class="time"><strong><%= @event.start_time.to_s(:time) %> - <%= @event.end_time.to_s(:time) %></strong></p>
    <h3><%= @event.where %></h3>
    
    <% if @event.users.present? %>
        <h3>Anmälda</h3>
        <ul data-role="listview" data-inset="true" class="ui-listview">
            <% @event.users.each do |user| %>
                <li<%= user == current_user ? ' class="you"' : '' %>><%= user.name %></li>
            <% end %>
        </ul>
    <% else %>
        <h3>Inga anmälda ännu</h3>
    <% end %>
    
    <%= form_tag event_attend_url(@event.id), :'data-ajax' => "false" do %>
        <%= hidden_field_tag :user_id, current_user.id.to_s %>
        <%= hidden_field_tag :attending, !@event.users.include?(current_user) %>
        <% if @event.users.include?(current_user) %>
            <p><strong>Du är anmäld.</strong></p>
        <% else %>
            <p><strong>Kommer du?</strong></p>
        <% end %>
        <div class="ui-body ui-body-b">
            <fieldset class="ui-grid-a">
                <div class="ui-block-a">
                    <%= link_to "Avbryt", events_path(:start_at => @event.start_time.strftime("%Y-%m-%d")), :'data-role' => "button", :'data-icon' => "back", :'data-theme' => "c", :'data-transition' => "pop", :'data-direction' => "reverse" %>
                </div>
                <div class="ui-block-b">
                    <% if @event.users.include?(current_user) %>
                        <%= submit_tag "Nej, jag ångrar mig!", :'data-theme' => "a", :'data-icon' => "delete" %>
                    <% else %>
                        <%= submit_tag "Ja, jag kommer!", :'data-theme' => "b", :'data-icon' => "check" %>
                    <% end %>
                </div>
            </fieldset>
        </div>
    <% end %>
</div>