<div data-role="header">
    <%= link_to t(:'shared.back'), circle_path(@circle), :'data-role' => "button", :'data-transition' => "flip", :'data-direction' => "reverse", :'data-icon' => "delete", :'data-iconpos' => "notext", :class => "remove-text left-close-button" %>
    <h1 data-title="<%= t(:title) %>"><%= t(:'circles.edit.header') %></h1>
</div>
<div data-role="content" data-theme="b" class="ui-body-c">
    <%= form_for @circle, :'data-ajax' => "false", :'data-transition' => "flip", :'data-direction' => "reverse" do |f| %>
    <div data-role="fieldcontain">
        <p class="bottom-space"><%= t(:'circles.edit.invite') %> </p>
        <ul data-role="listview" data-filter="true" data-filter-placeholder="<%= t(:'shared.search') %>" data-filter-theme="c" data-theme="c">
            <% @users_grouped.each do |letter, users| %>
                <li data-role="list-divider"><%= letter %></li>
                <li>
                <% users.each do |user| %>
                    <%= check_box_tag "circle[circle_memberships_attributes][][user_id]", user.id, @circle.users.include?(user) || user == current_user, :id => "circle_membership_#{user.id}" %>
                    <%= label_tag "circle_membership_#{user.id}", user.name %>
                <% end %>
                </li>
            <% end %>
        </ul>
    </div>
    <div class="actions top-space">
        <%= f.submit t(:'circles.edit.send_invitations'), :'data-theme' => "b" %>
    </div>
    <% end %>
</div>