<div data-role="header">
    <h1 data-title="<%= t(:title) %>"><%= t(:'circles.header') %></h1>
    <%= link_to t(:'circles.new.header'), new_circle_path, :'data-role' => "button", :'data-transition' => "pop", :'data-icon' => "plus", :class => "ui-btn-right" %>
</div>
<div data-role="content" data-theme="b">
    <div id="circles">
        <% if @pending_circles.present? %>
        <ul data-role="listview" data-inset="true" data-theme="d" data-divider-theme="e">
            <li data-role="list-divider"><%= t(:'circles.pending_memberships') %> <span class="ui-li-count"><%= @pending_circles.count %></span></li>
            <% @pending_circles.each do |circle| %>
                <li>
                    <%= link_to circle_path(circle, :url => request.url), :'data-transition' => "pop" do %>
                        <div class="ui-grid-a">
                            <div class="ui-block-a">
                                <%= circle.title %>
                            </div>
                            <div class="ui-block-b right-content">
                                <span class="ui-li-count"><%= circle.accepted_users.count %></span>
                            </div>
                        </div>
                    <% end %>
                </li>
            <% end %>
        </ul>
        <% end %>

        <ul data-role="listview" data-inset="true" data-theme="d">
            <li data-role="list-divider"><%= t(:'circles.your_circles') %> <span class="ui-li-count"><%= @user_circles.count %></span></li>
            <% @user_circles.each do |circle| %>
                <li>
                    <%= link_to circle_path(circle, :url => request.url), :'data-transition' => "pop" do %>
                        <div class="ui-grid-a">
                            <div class="ui-block-a">
                                <%= ring(:circle => circle) %>
                                <%= circle.title %>
                            </div>
                            <div class="ui-block-b right-content">
                                <span class="ui-li-count"><%= circle.accepted_users.count %></span>
                            </div>
                        </div>
                    <% end %>
                </li>
            <% end %>
        </ul>

        <ul data-role="listview" data-inset="true" data-theme="d" data-divider-theme="c">
            <li data-role="list-divider"><%= t(:'circles.all_public_circles') %> <span class="ui-li-count"><%= @public_circles.count %></span></li>
            <% @public_circles.each do |circle| %>
                <li>
                    <%= link_to circle_path(circle, :url => request.url), :'data-transition' => "pop" do %>
                        <div class="ui-grid-a">
                            <div class="ui-block-a">
                                <%= ring(:circle => circle) if current_user.has_accepted_membership?(circle) %>
                                <%= circle.title %>
                            </div>
                            <div class="ui-block-b right-content">
                                <span class="ui-li-count"><%= circle.accepted_users.count %></span>
                            </div>
                        </div>
                    <% end %>
                </li>
            <% end %>
        </ul>
    </div>
</div>
<%= render :partial => "/main_navigation" %>