<div data-role="header">
    <%= link_to t(:'shared.back'), circles_path, :'data-role' => "button", :'data-transition' => "pop", :'data-direction' => "reverse", :'data-icon' => "delete", :'data-iconpos' => "notext" %>
    <h1 data-title="<%= t(:title) %>"><%= t(:'circles.new.header') %></h1>
</div>
<div data-role="content" data-theme="b" class="ui-body-c">
    <%= form_for @circle, :'data-ajax' => "false" do |f| %>
        <% if @circle.errors.any? %>
        <div id="error_explanation">
            <h2><%= pluralize(@circle.errors.count, "error") %> prohibited this circle from being saved:</h2>

            <ul>
            <% @circle.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
            </ul>
        </div>
        <% end %>

        <ul data-role="listview" data-inset="true" data-theme="c">
            <li data-role="fieldcontain" class="row">
                <%= f.label :title, t(:'circles.new.title') %>
                <%= f.text_field :title, :'data-theme' => "d", :placeholder => t(:'circles.new.title_placeholder') %>
            </li>

            <li data-role="fieldcontain" class="row">
                <%= f.label :public, t(:'circles.new.public_circle') %>
                <%= f.select :public, options_for_select([[t(:'circles.new.secret'), 0], [t(:'circles.new.public'), 1]], 1), {}, :'data-role' => "slider", :'data-theme' => "b" %>
            </li>

            <fieldset data-role="fieldcontain" data-inset="true" class="row" id="listview-inset">
                <label class="bottom-space label ui-body-c"><%= t(:'circles.new.add_users') %></label>
                <ul data-role="listview" data-filter="true" data-filter-placeholder="<%= t(:'shared.search') %>" data-filter-theme="b" data-theme="c">
                    <% @users_grouped.each do |letter, users| %>
                        <li data-role="list-divider"><%= letter %></li>
                        <li>
                        <% users.each do |user| %>
                            <%= check_box_tag "circle[circle_memberships_attributes][][user_id]", user.id, user_already_invited?(@circle, user), :id => "circle_membership_#{user.id}" %>
                            <%= label_tag "circle_membership_#{user.id}", user.name %>
                        <% end %>
                        </li>
                    <% end %>
                </ul>
            </fieldset>

            <li data-role="fieldcontain" class="actions top-space">
                <%= f.submit t(:'circles.new.create'), :'data-theme' => "g" %>
            </li>
        </ul>
    <% end %>
</div>