<div data-role="header">
    <h1>Ny cirkel</h1>
</div>
<div data-role="content" data-theme="b">
    <%= form_for(@circle) do |f| %>
        <% if @circle.errors.any? %>
        <div id="error_explanation">
            <h2><%= pluralize(@circle.errors.count, "error") %> prohibited this circle from being saved:</h2>

            <ul>
            <% @circle.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
            </ul>
        </div>
        <% end %>

        <div data-role="fieldcontain">
            <%= f.label :title, "Titel" %>
            <%= f.text_field :title %>
        </div>

        <div data-role="fieldcontain">
            <%= f.label :public, "Publik cirkel?" %>
            <%= f.select :public, [["Publik", 1], ["Hemlig", 0]], {}, :'data-role' => "slider" %>
        </div>

        <p class="bottom-space">Lägg till personer</p>
        <ul data-role="listview" data-filter="true" data-filter-placeholder="Sök personer..." data-filter-theme="b">
            <% @users_grouped.each do |letter, users| %>
                <li data-role="list-divider"><%= letter %></li>
                <li>
                <% users.each do |user| %>
                    <%= check_box_tag "circle[circle_memberships_attributes][][user_id]", user.id, @circle.circle_memberships.include?(user) || user == current_user, :id => "circle_membership_#{user.id}" %>
                    <%= label_tag "circle_membership_#{user.id}", user.name %>
                <% end %>
                </li>
            <% end %>
        </ul>

        <div class="actions">
            <%= f.submit "Skapa cirkel" %>
        </div>
    <% end %>
</div>