<div data-role="header">
    <h1 data-title="<%= t(:title) %>"><%= t(:'circles.new.header') %></h1>
</div>
<div data-role="content" data-theme="b" class="ui-body-c">
    <%= form_for @circle, :'data-ajax' => "false" do |f| %>
        <% if @circle.errors.any? %>
        <div id="error_explanation">
            <h2><%= pluralize(@circle.errors.count, "error") %> prohibited this circle from being saved:</h2>

            <ul>
            <% @circle.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
            </ul>
        </div>
        <% end %>

        <div data-role="fieldcontain">
            <%= f.label :title, t(:'circles.new.title') %>
            <%= f.text_field :title, :'data-theme' => "d" %>
        </div>

        <div data-role="fieldcontain">
            <%= f.label :public, t(:'circles.new.public_circle') %>
            <%= f.select :public, options_for_select([[t(:'circles.new.secret'), 0], [t(:'circles.new.public'), 1]], 1), {}, :'data-role' => "slider" %>
        </div>

        <div data-role="fieldcontain">
            <p class="bottom-space"><%= t(:'circles.new.add_users') %></p>
            <ul data-role="listview" data-filter="true" data-filter-placeholder="<%= t(:'shared.search') %>" data-filter-theme="c" data-theme="c">
                <% @users_grouped.each do |letter, users| %>
                    <li data-role="list-divider"><%= letter %></li>
                    <li>
                    <% users.each do |user| %>
                        <%= check_box_tag "circle[circle_memberships_attributes][][user_id]", user.id, @circle.circle_memberships.include?(user) || user == current_user, :id => "circle_membership_#{user.id}" %>
                        <%= label_tag "circle_membership_#{user.id}", user.name %>
                    <% end %>
                    </li>
                <% end %>
            </ul>
        </div>

        <div class="actions top-space">
            <%= f.submit t(:'circles.new.create'), :'data-theme' => "b" %>
        </div>
    <% end %>
</div>