<!DOCTYPE html>
<html>
    <head>
        <title>Up to Speed</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="google-site-verification" content="_oFm994of6M6qowp20iaR-uD28UxC6c5teuNbZKhFJA" />
        <%= stylesheet_link_tag    "application" %>
        <%= javascript_include_tag "application" %>
        <%= csrf_meta_tags %>
        <%= render :partial => "/google_analytics" %>
    </head>
    <body id="<%= params[:controller] %>" class="<%= params[:action] %>">
        <div data-role="page">
            <%= yield %>
        </div>
    </body>
</html>
