<!DOCTYPE html>
<html>
    <head>
        <title>Up to Speed</title>
        <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
        <meta name="apple-mobile-web-app-capable" content="yes">
        <link rel="apple-touch-icon-precomposed" href="/assets/apple-icon.png"/>
        <link rel="apple-touch-startup-image" href="/assets/splash-screen.png" />
        <meta name="google-site-verification" content="_oFm994of6M6qowp20iaR-uD28UxC6c5teuNbZKhFJA" />
        <%= stylesheet_link_tag    "application" %>
        <script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?sensor=true&language=se&region=se"></script>
        <%= javascript_include_tag "application" %>
        <%= csrf_meta_tags %>
        <%= render :partial => "/google_analytics" %>
    </head>
    <body>
        <div id="<%= params[:controller] %>-<%= params[:action] %>" data-theme="<%= data_theme(params) %>" data-role="page" class="<%= fake_dialog(params) %>">
            <%= yield %>
        </div>
    </body>
</html>
